<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="google_translate_element"></div>
    
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/e7e52a1e-4ebe-42bf-89ed-a271a528259f/webchat/config.js" defer></script>
<script>
    function googleTranslateElementInit(){
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        )
    }
</script>
    
</body>
</html>