*{
    margin: 0;
    padding: 0;
}

nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#boards{
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
    text-align: center;
    font-size: 22px;
}

.board{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    
    /* overflow: hidden; */
}

#myChart{
    max-width: 200px;
    margin-top: -50px;
    margin-left: 90px;
}

#income ,#profit_percent{
    margin-top: 100px;
    font-size: 33px;
    color: rgb(62, 107, 204);
}

hr{
    margin: auto;
    margin-top: 60px;
    width: 80%;
    height: 10px;
}

#inputs{
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    border-radius: 10px; */
    padding: 30px 50px;
    text-align: center;
}

#inputs button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    margin-right: 20px;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  #inputs button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }

  #tour_btn{
    position: absolute;
    margin-left: 84%;
    color: #090909;
    padding: 0.2em 0.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    margin-right: 20px;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #dddddd, -6px -6px 12px #ffffff;
  }

  #slogan{
    font-size: 15px;
  }

  #navbar{
    /* position: absolute; */
    /* z-index: -1; */
  }

  .card{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 100px;
    /* z-index: -2; */
  }

.card-body form label{
    margin-left: 10px;
    font-size: 20px;
}

input,textarea,select{
    padding: 7px;
    width: 98%;
    margin: 10px;
  }

#amt{
    position: absolute;
    margin: 36% 41%;
}